.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(57, 182, 231);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.overlayTitleError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.overlayTitleErrorRed {
  color: red;
  text-decoration-line: underline;
}

.overlayLinks {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(1%, 50%);
  transition: border-color 0.3s ease;
}

.overlayLinks:hover {
  font-size: 20px;
  border-bottom: 1px solid #43d7ff;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
