.registerForm {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerBlock {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-bottom: 50px;
}

.registerFormLable {
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
}

.registerInputForm {
  color: #fff;
  height: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(57, 182, 231);
}

.registerInputForm:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(57, 182, 231);
  outline: none;
}

.registerBtn {
  font-size: 18px;
  padding: 5px;
  color: rgb(57, 182, 231);
  background-color: transparent;
  border: 1px solid rgb(57, 182, 231);
  border-radius: 5px;
  cursor: pointer;
}

.registerBtn:hover {
  color: #fff;
  background-color: rgb(57, 182, 231);
  transition: background-color 0.3s, color 0.3s;
}

.registerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
